* {
    border: 0;
    padding: 0;
}
header {
    text-align: center;
}
.img-head {
    align-items: center;
    text-align: center;
}

.container {
    border: 1px;
    background-color: rgb(160, 100, 100);
    align-items: center;
    text-align: center;
    padding: 3rem;
    border-left: 10%;
    border-right: 10%;
    display: flex
    
}